---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PostHead from '@/components/PostHead.astro'
import { badgeVariants } from '@/components/ui/badge'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { parseAuthors } from '@/lib/data-utils'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { getEntry } from 'astro:content'

const post = await getEntry('blog', 'not-accept-defeat')
if (!post) return Astro.redirect('/404')

const authors = await parseAuthors(post.data.authors ?? [])
---

<Layout>
  <PostHead slot="head" post={post} />

  <section class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-md)-2rem),100%)_minmax(0px,1fr)] gap-y-8">
    <div class="col-start-2 pt-4">
      <div class="flex items-center gap-3 text-sm text-muted-foreground mb-8">
        {authors.length > 0 && (
          <div class="flex items-center gap-1.5">
            <Icon name="lucide:user" class="size-3.5" />
            <span>{authors[0].name}</span>
          </div>
        )}
        <span class="text-muted-foreground/40">•</span>
        <div class="flex items-center">
          <span>{formatDate(post.data.date)}</span>
        </div>
      </div>
    </div>

    <article class="col-start-2 max-w-none prose dark:prose-invert">
      <p>
        Yeaah, sooo we didn't qualify in the top 40 of our college's internal round. I was so disappointed hearing the result, I remember storming off while the speech was still on, like my own personal act of rebellion, and somehow the only thing in my mind was, "Ahh maybe I should have gone to the chapel in the morning."
      </p>
      
      <p>
        I was so furious at our judge; I remember calling him fat and bald, and some other words I don't wish to say. And then it hit me-
      </p>
      
      <blockquote>
        "Am I so full of myself that I think the only way I could lose was if something went wrong or I was cheated?"
      </blockquote>
      
      <p>
        Truth be told, I think I was always a little like that, during football matches I have blamed the referees, the opposition for having overage players, and sometimes even my own teammates.
      </p>
      
      <p>
        How can I be so full of myself that I never take responsibility for my failures?
      </p>
      
      <p>
        Lil Dramatic? maybe but it really did hit harder than I expected it to.
      </p>
      
      <p>
        Anyways i think i can say lesson (hopefully) learned - maybe the world isn't conspiring against me next time. And maybe just maybe i should start taking responsibility for my actions.
      </p>
    </article>
  </section>

  <Button
    variant="outline"
    size="icon"
    className="group fixed right-8 bottom-8 z-50 hidden"
    id="scroll-to-top"
    title="Scroll to top"
    aria-label="Scroll to top"
  >
    <Icon name="lucide:arrow-up" class="mx-auto size-4 transition-all group-hover:-translate-y-0.5" />
  </Button>

  <script>
    document.addEventListener('astro:page-load', () => {
      const scrollToTopButton = document.getElementById('scroll-to-top')
      const footer = document.querySelector('footer')

      if (scrollToTopButton && footer) {
        scrollToTopButton.addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' })
        })

        window.addEventListener('scroll', () => {
          const footerRect = footer.getBoundingClientRect()
          const isFooterVisible = footerRect.top <= window.innerHeight
          scrollToTopButton.classList.toggle('hidden', window.scrollY <= 300 || isFooterVisible)
        })
      }
    })
  </script>
</Layout>
