---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PostHead from '@/components/PostHead.astro'
import { badgeVariants } from '@/components/ui/badge'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { parseAuthors } from '@/lib/data-utils'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { getEntry } from 'astro:content'

const post = await getEntry('blog', 'voices-told-me-to-write')
if (!post) return Astro.redirect('/404')

const authors = await parseAuthors(post.data.authors ?? [])
---

<Layout>
  <PostHead slot="head" post={post} />

  <section class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-md)-2rem),100%)_minmax(0px,1fr)] gap-y-8">
    <div class="col-start-2 pt-4">
      <div class="flex items-center gap-3 text-sm text-muted-foreground mb-8">
        {authors.length > 0 && (
          <div class="flex items-center gap-1.5">
            <Icon name="lucide:user" class="size-3.5" />
            <span>{authors[0].name}</span>
          </div>
        )}
        <span class="text-muted-foreground/40">•</span>
        <div class="flex items-center">
          <span>{formatDate(post.data.date)}</span>
        </div>
      </div>
    </div>

    <article class="col-start-2 max-w-none prose dark:prose-invert">
      <p>
        I have been thinking of starting a blog for a long time now, but then i didn't really have a good enough reason or motivation to start one. I came across this quote recently in a YouTube Short of all places actually:
      </p>
      
      <blockquote>
        "I think we forget things if we have no one to tell them to"
      </blockquote>
      
      <p>
        I think I have had a few good thoughts over the years and if i had penned them down, they'd have been nice reflections to look back on once in awhile.
      </p>
      
      <p>
        Mehh I don't think I am serious enough person for my writings to be clear enough for many to relate or even understand, most of them will probably read like I was arguing with myself and losing, this is a place for some of my thoughts to be placed so incase i get hit in the head one too many times i wont forget
      </p>
      
      <p>
        Writing for people to read isn't the primary goal but entertaining people is always fun.
      </p>
    </article>
  </section>

  <Button
    variant="outline"
    size="icon"
    className="group fixed right-8 bottom-8 z-50 hidden"
    id="scroll-to-top"
    title="Scroll to top"
    aria-label="Scroll to top"
  >
    <Icon name="lucide:arrow-up" class="mx-auto size-4 transition-all group-hover:-translate-y-0.5" />
  </Button>

  <script>
    document.addEventListener('astro:page-load', () => {
      const scrollToTopButton = document.getElementById('scroll-to-top')
      const footer = document.querySelector('footer')

      if (scrollToTopButton && footer) {
        scrollToTopButton.addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' })
        })

        window.addEventListener('scroll', () => {
          const footerRect = footer.getBoundingClientRect()
          const isFooterVisible = footerRect.top <= window.innerHeight
          scrollToTopButton.classList.toggle('hidden', window.scrollY <= 300 || isFooterVisible)
        })
      }
    })
  </script>
</Layout>


